{% extends "recipes/base.html" %}
{% block content%}
    {%for recipe in recipes%}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ recipe.image.url }}">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'detail-recipes' recipe.id %}">{{ recipe.title }}</a></h2>
            <p class="article-content" style="font-weight: bold">Total Cook Time:{{ recipe.total_time }}</p>
            <div class="article-metadata">
              <a class="mr-2" >{{ recipe.author }}</a>
              <small class="text-muted">{{ recipe.date_created|date:"F d, Y" }}</small>
            </div>
        </article>
    {% endfor %}
{% endblock content %}