{% extends "recipes/base.html" %}
{% block content %}
    <title>Search</title>
    <h1>Search</h1>
    <form method="GET" action="" class="form-inline">
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control"  value="{{ request.GET.query }}">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </div>
    </form>

    <h2>Results:</h2>
    {% if results %}
        <ul class="list-group">
            {% for recipe in results %}
                 <article class="media content-section">
                      <img class="rounded-circle article-img" src="{{ recipe.image.url }}">
                      <div class="media-body">
                        <h2><a class="article-title" href="{% url 'detail-recipes' recipe.id %}">{{ recipe.title }}</a></h2>
                        <p class="article-content" style="font-weight: bold">Total Cook Time:{{ recipe.total_time }}</p>
                        <div class="article-metadata">
                          <a class="mr-2" href="{% url 'user-recipes' %}?author={{ recipe.author|urlencode }}">{{ recipe.author }}</a>
                          <small class="text-muted">{{ recipe.date_created|date:"F d, Y" }}</small>
                        </div>
                       <!--<p class="article-content">{{ recipe.content }}</p>-->
                      </div>
                 </article>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock content %}