{% extends "recipes/base.html" %}
{% block content%}
        {% for recipe in recipes %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ recipe.image.url }}">
              <div class="media-body">
                <h2><a class="article-title" href="{% url 'detail-recipes' recipe.id %}">{{ recipe.title }}</a></h2>
                <p class="article-content">Total Cook Time:{{ recipe.total_time }}</p>
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-recipes' %}?author={{ recipe.author|urlencode }}">{{ recipe.author }}</a>
                  <small class="text-muted">{{ recipe.date_created|date:"F d, Y" }}</small>
                </div>
               <!--<p class="article-content">{{ recipe.content }}</p>-->
              </div>
            </article>
        {% endfor %}
      <!-- Page navigation -->
        <div class="pagination">
            <span class="article-metadata">
                {% if recipes.has_previous %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="?page=1">&laquo; first</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="?page={{ recipes.previous_page_number }}">previous</a>
                {% endif %}

                {% if recipes.has_next %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="?page={{ recipes.next_page_number }}">next</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="?page={{ recipes.paginator.num_pages }}">last »</a>
                {% endif %}
                <p class="article-title"> Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}. </p>

            </span>
        </div>
{% endblock content %}